{{> header}}


<body>
    <div class="container-fluid pt-1 bg-primary text-white text-center">
        <h1>console</h1>
    </div>
    <div id="messageArea"  class="messageAreaStyle"></div>
    <div class="container-fluid">
        <div class="card iss-bg-robotarea text-dark">
            <div class="card-header px-1">Robot:</div>
              <div class="card-content px-1">
                <span id="Display" >
                    State transport trolley: <p id="statett" style="display:inline">loading...</p><br><br>
                    State led: <p id="stateled" style="display:inline">loading...</p><br>
                    <p class="led-box">
                        <p class="ledgreen off"></p>
                    </p><br><br><br>
                    Current position: <p id="position" style="display:inline">loading...</p><br><br>
                    Capacity plastic box: <p id="pb" style="display:inline">loading...</p><br><br>
                    Capacity glass box: <p id="gb" style="display:inline">loading...</p><br><br>
                    
                </span>
            </div>
          </div>
    </div>

{{> footer}}
